<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @developer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @developer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @developer.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @developer.phone_number %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @developer.zip %>
</p>

<p>
  <strong>Your skillsets:</strong>
  <%= @developer.your_skillsets %>
</p>

<p>
  <strong>Politics:</strong>
  <%= @developer.politics %>
</p>

<p>
  <strong>Vegetarian:</strong>
  <%= @developer.vegetarian %>
</p>

<p>
  <strong>Education:</strong>
  <%= @developer.education %>
</p>

<p>
  <strong>Developing countries:</strong>
  <%= @developer.developing_countries %>
</p>

<p>
  <strong>Technology education:</strong>
  <%= @developer.technology_education %>
</p>

<p>
  <strong>Local poverty:</strong>
  <%= @developer.local_poverty %>
</p>

<p>
  <strong>International poverty:</strong>
  <%= @developer.international_poverty %>
</p>

<p>
  <strong>Utilities access:</strong>
  <%= @developer.utilities_access %>
</p>

<p>
  <strong>Food and water:</strong>
  <%= @developer.food_and_water %>
</p>

<p>
  <strong>Wildlife:</strong>
  <%= @developer.wildlife %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @developer.environment %>
</p>

<p>
  <strong>Children:</strong>
  <%= @developer.children %>
</p>

<p>
  <strong>World peace:</strong>
  <%= @developer.world_peace %>
</p>

<p>
  <strong>Veterans:</strong>
  <%= @developer.veterans %>
</p>

<p>
  <strong>Art and culture:</strong>
  <%= @developer.art_and_culture %>
</p>

<p>
  <strong>Business support:</strong>
  <%= @developer.business_support %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @developer.religion %>
</p>

<p>
  <strong>Science research:</strong>
  <%= @developer.science_research %>
</p>

<p>
  <strong>Medical research:</strong>
  <%= @developer.medical_research %>
</p>

<p>
  <strong>Healthcare and medical aid:</strong>
  <%= @developer.healthcare_and_medical_aid %>
</p>

<p>
  <strong>Expand in anyway:</strong>
  <%= @developer.expand_in_anyway %>
</p>

<p>
  <strong>Number available hours:</strong>
  <%= @developer.number_available_hours %>
</p>

<p>
  <strong>Linkedin profile:</strong>
  <%= @developer.linkedin_profile %>
</p>

<p>
  <strong>Projects you are interested in:</strong>
  <%= @developer.projects_you_are_interested_in %>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
