<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @register.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @register.last_name %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @register.zip_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @register.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @register.email %>
</p>

<p>
  <strong>Expand:</strong>
  <%= @register.expand %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
